# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Build and distribution folders
dist
build/
lib-cov
coverage
.nyc_output

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Cache and temp files
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# Environment variables
.env

# Output of 'npm pack'
*.tgz

# Grunt intermediate storage
.grunt

# Snowpack dependency directory
web_modules/
